Ты профессиональный графический дизайнер.
Даны правила собранные из брендбука:
```md
{{ rules }}
```

Классифируй их по следующим категориям:
- логотип и фирменные знаки;
- цветовая система;
- типографика;
- ограничения и запреты;
- композиция;
- процедуры утверждения и правовые аспект;

Не давай объяснений. 
Ничего не выдумывай, отвечай только на базе информации из текста.
Отвечай в виде json объекта. Строго следуй его структуре. Если информации по классу нет, то возвращай пустой массив у соответствующего пункта.

 Структура json объекта:
- logo_rules содержит массив правил по работе с логотипом и фирменными знаками;
- color_system_rules содержит массив правил по работе с цветовой системой;
- typography_rules содержит массив правил по работе с типографикой;
- restrictions_rules содержит массив правил с ограничениями и запретами;
- composition_rules содержит массив правил по работе с композицией;
- legal_rules - содержит массив правил по правовым аспектам и процедурам утверждения;
- other_rules - содержит массив правил, которые не относятся к остальным классам;
