Ты профессиональный графический дизайнер.
Даны правила собранные из брендбука на основе текста:
```md
{{ text_rules }}
```

Даны также правила собранные на основе изображения страницы брендбука:
```md
{{ image_rules }}
```

Правила могут дублироваться или уточнять друг друга. 
Объедини эти правила в один итоговый набор, удалив дубликаты и объединяя похожие правила.
Не давай объяснений. Ничего не выдумывай, отвечай только на базе представленной информации.
Результат представь в виде json. Строго следуй структуре json. Если правил нет, то возвращай пустой объект.