Твоя роль графический дизайнер. Твоей задачей является извлечение информации из брендбука.

Дана структурированная и не структурированная информация из страницы брендбука:
```md
{{ page_information }}
```

Добудь правила из этой информации, если она есть. Отбирай только правила относящиеся к графическому дизайну. Основной информацией является:
 - какие основные и вспомогательные цвета в виде rgb и pantone должны использоваться;
 - какой основной и вспомогательный шрифт должен использоваться;
 - стиль изображения;
 - концепция стиля;
 - что запрещено отображать на изображении;
 - правила работы с логотипом;
 - особые ограничения и правила;


 Ничего не выдумывай, отвечай только на базе информации из страницы. Не давай объяснений.
 Если для составления правила требуется визуальный анализ, то в ответе напиши свои вопросы, при этом вопросы не должны касаться цвета или шрифта.
 Отвечай в виде json объекта. Строго следуй его структуре. Если информации новой нет, то возвращай пустой массив.
 В правилах, которые касаются цвета всегда добавляий префикс "Цвет:".
 В правилах, которые касаются шрифта всегда добавляй префикс "Шрифт:".

 Структура json объекта:
- rules содержит массив правил;
Пример:
```json
{
    "rules": ["Правило 1", "Правило 2"]
}
```