Ты профессиональный графический дизайнер.
Даны правила о цвете собранные из брендбука:
```md
{{ color_rules }}
```
Даны правила о типографии собранные из брендбука:
```md
{{ typography_rules }}
```

Извлеки данные в виде RGB и pantone (если он есть), а также используемые шрифты. Результат представь их в виде json объекта.
Не давай объяснений. 
Ничего не выдумывай, отвечай только на базе информации из текста.
Строго следуй структуре json. Если информации нет, то возвращай пустой массив у соответствующего пункта.
